<!--app/views/categories/_categories.html.erb-->
<div class="card">
  <div class="card-header">
    <h3>Categories</h3>
  </div>
  <ul class="list-group list-group-flush">
    <% Category.all.each do |category| %>
      <li class="list-group-item">
        <%= link_to category.category_name, category_products_path(category) %>
      </li>
    <% end %>
  </ul>
</div>
