<section>
  <div>
    <h1>All Products</h1>
    <div>
      <% @products.each do |product| %>
        <div>
          <% if product.image.attached? %>
            <%= image_tag(product.image) %>
          <% end %>
        </div>
        <div>
          <p>
            <%= link_to product.product_name, product_path(product) %>
          </p>
        </div>
      <% end %>
    </div>
    <%= paginate @products %>
  </div>
</section>
