<!--app/views/products/index.html.erb-->
<section class="container mt-4">
  <div class="row">
    <!-- Category Section -->
    <div class="col-md-3">
      <%= render 'categories/categories' %>
    </div>

    <!-- Product Section -->
    <div class="col-md-9">
      <%= render 'products/search_form' %>
      <h1>Products</h1>
      <% if @products.empty? %>
        <div class="alert alert-info">No products found matching your search criteria.</div>
      <% else %>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-6 col-lg-4 mb-4">
              <%= render 'products/product', product: product %>
            </div>
          <% end %>
        </div>
        <%= paginate @products %>
      <% end %>
    </div>
  </div>
</section>
